@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(207, 248, 238);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
    background-color: rgb(28, 167, 209);
}
.carousel-inner img {
    max-height: 400px;
}



.ofertas{
    color: brown;
}

.container > .content{
    background: rgb(151, 229, 151);
    padding: 30px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.container > .content{
    grid-column: span 4;
    justify-content: center;
    
}

.content > .article{
    background-color: rgb(240, 252, 173);
    padding: 50px;
    margin-top: 20px;
    border-radius: 25px;
}

.content .article h1,
.content .article p{
    padding: 10px ;
    font-size:20px;
    color: white;
    max-width: 900px;
}

.maldivas{
    background: url(../assets/Maldivas.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    padding: 10px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;

}

.corea{
    background: url(../assets/Corea.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    padding: 10px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.bariloche{
    background: url(../assets/Bariloche.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    padding: 10px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.redes{
    height: 100px;
}

.sfooter{
    height: 25px;
    background: rgb(95, 11, 11);
}

.sfooter h4{
    font-size: 17px;
    color: black;
    text-align: center;
}

.iconos a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 30px;
}

.iconos a i:hover{
    color: chartreuse;
    cursor: pointer;
}

.form{
    display: flex;
    justify-content: center;
    border: 2px brown double;
    border-radius: 10px;
    margin: 20px;
}

.contacto__form{
    display: flex;

}

.contactow{
    width: 3em; 
    height: 3em;
    position: fixed;
    right: 5px;
    bottom: 7px;
}

/*Segunda Pagina*/

@media screen and (max-width: 750px){
    .row{
        flex-direction: column;
    }
}
